@import "../variables";
@import "../mixins";



.topPicksContainer {
    width: 100%;
    height: 967px;
    padding: 0px 0px 50px;
    background-color: #141515;  
    display: flex;
    justify-content: center;


    @include query(768px) {
        height: 2009px;
    }

    @include query(575px) {
        height: fit-content;
        width: 100%;
        padding: 10px 0 50px 15px;
    }

}


.topPicksContent {
    width: 1140px;
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // text-align: center;


    .titleContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        text-align: center;
        

        h5 {
            color: $whiteColor;
            font-size: 18px;
            margin-bottom: 20px;
            font-weight: 700;
            position: relative;
            width: fit-content;


            &::before {
                content: '';
                position: absolute;
                top: 50%;
                right: 100%;
                margin-right: 20px;
                transform: translateY(-50%);
                width: 90px;
                height: 2px;
                background-color: $orangeColor;
            }

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 100%;
                margin-left: 20px;
                transform: translateY(-50%);
                width: 90px;
                height: 2px;
                background-color: $orangeColor;
            }
        }
        
        h2 {
            color: $whiteColor;
            font-size: 42px;
            margin-bottom: 20px;
            line-height: 48px;

            @include query(991px) {
                font-size: 26px;
            }

        }
        
        p {
            color: $whiteColor;
            max-width: 580px;
            margin: 0 auto 20px;
            line-height: 28px;
        }

    }


    .productTabsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        

        @include query(575px) {
            flex-direction: column;
        }

        .active {
            color: $orangeColor;
        }
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $whiteColor;
            padding: 10px 20px;
            background-color: transparent;
            font-weight: 600;
            margin-right: 10px;
            text-decoration: none;

            @include query(575px) {
                margin-bottom: 10px;
            }

            &:hover {
                color: $orangeColor;
            }


            svg {
                font-size: 40px;
                margin-bottom: 20px;

                @include query(575px) {
                    margin-bottom: 10px;
                }
            }
        }
    }


    .tabContent {

        transition: opacity .15s linear;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        @include query(768px) {
            flex-direction: column;
            align-items: center;
        }


        #menu_appetizers {

            @include query(768px) {
                display: flex;
                height: 100%;
                flex-direction: column;
            }
        }
        
        
        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            margin-top: 50px;


            @include query(1190px) {
                width: 960px;
            }

            @include query(991px) {
                width: 690px;
            }

            @include query(768px) {
                width: 540px;
            }

            @include query(575px) {
                width: 100%;
            }


            .col_4 {
                position: relative;
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
                width: 100%;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;
                margin-bottom: 30px;
                overflow: hidden;        


                @include query(768px) {
                    width: 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                    margin-bottom: 60px ;
                }

                @include query(575px) {
                    width: 100%;
                    height: fit-content;
                    padding-right: 0;
                }


                .productImageContainer {
                    height: 350px;
                    width: 350px;
                    background-color: #17191a;
                    display: flex;
                    justify-content: center;


                    @include query(1190px) {
                        width: 290px;
                        height: 290px;
                    }
                   
                    @include query(991px) {
                        width: 210px;
                        height: 210px;
                    }

                    @include query(768px) {
                        width: 510px;
                        height: 350px;
                    }

                    @include query(575px) {
                        width: 100% !important;
                        height: 100% !important;
                    }



                    &:hover {
                        img {
                            transform: scale(1.1);
                        }
                    }

                    img {
                        overflow: hidden;
                        width: 100%;
                        transition: all .3s;

                        @include query(768px) {
                            width: 350px;
                            height: 350px;
                        }

                        @include query(575px) {
                            width: 100% !important;
                            height: 100% !important;
                        }

                    }
                }

                .productInfo {
                    margin-top: 15px;

                    h5.productTitle {
                        margin-bottom: 15px;
                        font-size: 22px;
                        
                        @include query(768px) {
                            margin-bottom: 5px ;
                        }

                        a{
                            color: #e8e6e3;
                            text-decoration: none;
                            transition:all .3s;
                            
                       
                            &:hover {
                                color: $orangeColor;
                            }
                        }
                    }

                    p.productPrice {
                        color: $orangeColor;
                        font-weight: 600;
                        margin-bottom: 15px;

                        @include query(575px) {
                            margin-bottom: 10px;
                        }
                    }

                    p.productText {
                        color: #aba499;
                    }


                }

            }


        }
    }


}
