@import "../variables";
@import "../mixins";



.footerContainer {
    width: 100%;
    height: 530px;
    padding: 80px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f1111;

    @include query(1190px) {
        height: 765px;
    }
    @include query(768px) {
        height: 1150px;
    }

    @include query(575px) {
        width: 100%;
        padding: 0 15px;
        height: 1200px;
    }

}


.footerContent {
    width: 1140px;
    height: 381px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;


    @include query(1190px) {
        height: 765px;
        width: 960px;
    }
    @include query(991px) {
        width: 690px;
    }
    @include query(768px) {
        width: 540px;
        height: 990px;
    }

    @include query(575px) {
        width: 100%;
        padding: 50px 15px;
        height: 1300px;
    }




    > div {
        padding-bottom: 80px;
        position: relative;
        padding-right: 15px;
        padding-left: 15px;


        @include query(768px) {
            padding-bottom: 0;
            margin-bottom: 0px;
        }

        @include query(575px) {
            width: 100% !important;
            padding: 0;
            // margin-bottom: 30px;
        }

    }
    ul {
        list-style: none;
    }
    a {
        color: $whiteColor;
        text-decoration: none;
    }

    .socialsContainer {
        flex: 0 0 25%;
        max-width: 25%;
        // margin-right: 10px;
        @include query(1190px) {
            flex: 0 0 50%;
            max-width: 50%;
        }
        @include query(768px) {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .footerLogo img {
            width: 180px;
            margin-bottom: 20px;
        }

        p {
            color: #484642;
            font-size: .9rem;
            margin-bottom: 20px;
        }

        ul {
            display: flex;

            a {
                border-color: initial;
                background-color: #17191a;
                color: #e8e6e3;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 15px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                font-size: 18px;
                border: 0;

                &:hover {
                    color: $orangeColor;
                }
            }
        }

    }


    .topItemsContainer, .legalsContainer{
        flex: 0 0 16.666667%;
        max-width: 16.666667%;

        @include query(1190px) {
            flex: 0 0 25%;
            max-width: 25%;
        }

        @include query(768px) {
            flex: 0 0 50%;
            max-width: 50%;
        }

        @include query(575px) {
            flex: 0 0 100%;
            max-width: 100%;
            margin: 0;
            // margin-bottom: 10px;
        }
        


        h5 {
            margin-bottom: 20px;
            color: $whiteColor;
            font-size: 18px;


            @include query(575px) {
                margin-bottom: 10px;
            }

        }

        ul {
            height: 190px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        
            li {
                margin: 10px 0 0;
                position: relative;

                @include query(575px) {
                    margin: 0;
                    margin: 15px 0 0;
                }

                a {
                    position: relative;
                    display: flex;
                    align-items: center;
                    color: #aba499;

                    @include query(575px) {
                        font-size: 14px;
                    }

                    svg {
                        color: $orangeColor;
                        margin-right: 5px;
                    }
         
                }
            }
        }
    }

    .instagramContainer {
        margin-left: 90px;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        padding: 0;


        @include query(1190px) {
            flex: 0 0 50%;
            max-width: 50%;
            margin: 0;
        }

        @include query(991px) {
            margin: 0;
            flex: 0 0 60%;
            max-width: 60%;
        }

        @include query(768px) {
            flex: 0 0 100%;
            max-width: 100%;
            margin: 0;
        }

        @include query(575px) {
            flex: 0 0 100%;
            max-width: 100%;
            margin: 0;
        }

        h5 {
            margin-bottom: 20px;
            color: $whiteColor;
            font-size: 18px;
        }

        .imagesContainer div {
            

            @include query(575px) {
                width: 100%;
            }

            &:first-child {
                margin-bottom:30px;
            }
            
            img {
                width: 96px;
                margin-right: 30px;
                cursor: pointer;

                @include query(768px) {
                    width: 150px;
                }

                @include query(575px) {
                    width: 20%;
                }

            }

        }
    }

    
}



.footerBottom {
    width: 1140px;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;


    @include query(1190px) {
        width: 960px;
    }

    @include query(991px) {
        width: 690px;
    }

    @include query(768px) {
        width: 540px;
    }

    @include query(575px) {
        flex-direction: column;
        width: 100%;
    }

    
    a {
        text-decoration: none;
        transition: all .2s linear;

        &:hover {
            color: $orangeColor;
        }
    }

    p {
        display: flex;
        align-items: center;
        color: #aba499;

        svg {
            color: red;
            margin: 0 5px;
        }

        a {
            margin: 0 5px;
            color: $whiteColor;
        }
    }


    ul {
        list-style: none;
        display: flex;

        @include query(575px) {
            margin-top: 30px;
        }

        a {
            color: #aba499;
        }
        li {
            &:nth-child(2) {
                display: inline-block;
                margin: 0 15px;

            }
        }
    }

}