@import "../variables";
@import "../mixins";



.Nav__black {
    position: fixed;
    z-index: 20;
}
.headerContainer {
    width: 100%;
    background-color: #141110;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

    
    .navbarContainer {
        width: 1140px;
        display: flex;
        padding: 15px;
        margin: 15px;
        justify-content: space-between;
        align-items: center;
        

        @include query(1190px) {
            width: 960px;
        }

        @include query(991px) {
            max-width: 720px;
        }
        
        @include query(768px) {
            width: 540px;
        }
        @include query(575px) {
            width: 100%;
            padding: 0 15px;
            margin: 0;
        }



        img {
            width: 180px;

            @include query(991px) {
                width: 150px;
            }
        }

        ul {
            display: flex;
            list-style: none;
        }

        .menuContainer {
            @include query(991px) {
                display: none;
            }
        }

        .menuContainer li {
            a {
                color: $whiteColor;
                text-decoration: none;
                font-weight: 600;
                display: inline-block;
                padding: 30px 20px;
                position: relative;
                background-color: transparent;
            }
            .clicked {
                color: $orangeColor;

                // &::after{
                //     position: absolute;
                //     bottom: 10px;
                //     left: 10%;
                //     content: "";
                //     width: 0%;
                //     height: 4px;
                //     background-color: $whiteColor;
                //     transition: all 0.3s ease-in-out;
                //     width: 80%;
                //     border-radius: 2px;
                // }
            }
        }


        .cartANDsearchContainer {
            display: flex;
            align-items: center;
            
            
            .humbergerMenu {
                display: none;

                @include query(991px) {
                    // width: 960px;
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;
                    margin: 20px 0;
                    margin-left: 15px;
                    align-items: center;
                    justify-content: center;
                }
    
                span {
                    display: block;
                    margin-bottom: 6px;
                    width: 25px;
                    transition: .3s;
                    height: 1px;
                    border-radius: 3px;
                    background-color: #9F9E9E;
                }
    
                span:first-child {
                    width: 15px;
                    margin-right: auto;
                }
    
                span:last-child {
                    margin-bottom: 0;
                    width: 15px;
                    margin-left: auto;
                }
    
    
            }
        }

        .cartANDsearchContainer li {
            svg {
                color: #9F9E9E;
                font-size: 1.7rem;
                cursor: pointer;
            }
            
            &:first-child svg{
                margin-right: 20px;
            }
        }


        
    }
}



