@import "../variables";
@import "../mixins";



.productDetailsContainer {
    width: 100%;
    // height: 1300px;
    background-color: #141515;
    overflow-x: hidden;
}

.menuLanding {
    width: 100%;
    height: 386px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include query(768px) {
        width: 100%;
        height: 228px;
        padding: 70px 0;
    }

    .backgroundImage {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("../../images/menu.jpg");
        background-position: center;
        background-repeat: no-repeat;   
        background-size: cover;
        
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.4);
            z-index: 1;
            -webkit-transition: background-color .3s;
            -o-transition: background-color .3s;
            transition: background-color .3s;
        }
       
    }



    .content {
        position: absolute;
        z-index: 2;
        color: $whiteColor;
        
        h1 {
            font-size: 50px;

            @include query(768px) {
                font-size: 32px;
            }
        }

        .breadcrumb {
            margin-top: 10px;
                
                a {
                    font-weight: 600;
                    color: $whiteColor;
                    text-decoration: none;
                    transition: all .3s;

                    &:hover {
                        color: $orangeColor;
                    }

                }
                span {
                    color: $whiteColor;
                    font-weight: 400;
                    cursor: default;
                }
        }
    }
}


.container {
    width: 1140px;
    height: 800px;
    padding: 80px 0;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include query(1190px) {
        width: 960px;
    }

    @include query(991px) {
        width: 690px;
    }

    @include query(768px) {
        width: 540px;
        height: 1200px;
        padding: 50px 0;
    }
    
    @include query(575px) {
        width: 100%;
        height: 100%;
        padding: 0 15px;
    }


    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;

        @include query(768px) {
            flex-direction: column;
        }


        .col_4 {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;

            @include query(768px) {
                flex: 0 0 100%;
                max-width: 100%;
            }
            
            .productImage {
                margin-bottom: 30px;
                display: flex;
                justify-content: center;

                img {
                    max-width: 100%;
                    height: auto;
                }
            }






        }

        .col_8 {
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;


            @include query(768px) {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .productHeader {
                display: flex;
                align-items: center;
                justify-content: space-between;


                @include query(320px) {
                    flex-direction: column;
                    align-items: flex-start;
                    margin-bottom: 10px;
                }

                .productTitle {
                    font-size: 34px;
                    margin-bottom: 5px;
                    font-weight: 700;
                    color: $whiteColor;
                }


                p {

                    font-size: 16px;
                    margin-bottom: 5px;
                    font-weight: 700;
                    color: $whiteColor;

                    span {
                        display: inline-block;
                        text-align: center;
                        vertical-align: top;
                        color: $orangeColor;
                        padding: 0px 6px 2px;
                        font-size: 1.1rem;
                        background-color: #4e4e4e;
                        border-radius: 50%;
                    }
                }
            }



            .productRating {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                height: 30px;


                .activeRating {
                    color: $orangeColor;
                }
                svg {
                    color: #4e4e4e;
                    margin-right: 5px;
                    font-size: 14px;
                }
                

                span {
                    margin-left: 2px;
                    color: #9F9E9E;
                    font-size: 13px;
                }
            }

            .priceContainer {

                p {
                    font-weight: 700;
                    font-size: 24px;
                    color: $orangeColor;
                    margin-bottom: 20px;
                }
            }

            .productDescription {
                margin-bottom: 20px;
                font-size: 15px;
                line-height: 28px;
                color: #9F9E9E;
            }

            .productVariations {
                margin-bottom: 20px;
                


                div {
                    margin-bottom: 20px;
                }

                label {
                    display: block;
                    font-size: 17px;
                    margin-bottom: 10px;
                    font-weight: 600;
                    color: #fff;
                }

                select {
                    display: block;
                    height: 50px;
                    padding: 8px 15px;
                    border: 1px solid #4e4e4e;
                    width: 100%;
                    color: #fff;
                    background-color: #1f1f1f;
                    font-size: 15px;
                    transition: .3s;
                    border-radius: 0;
                }

            }

            .countProductContainer{
                display: flex;
                align-items: flex-end;
                margin-bottom: 20px;


                div {
                    flex: 1;
                    margin-right: 15px;
                    margin-bottom: 0;


                    label {
                        display: block;
                        margin-bottom: 10px;
                        font-weight: 600;
                        color: #fff;
                    }


                    input {
                        display: block;
                        height: 50px;
                        padding: 8px 15px;
                        border: 1px solid #4e4e4e;
                        width: 100%;
                        color: #fff;
                        background-color: #1f1f1f;
                        font-size: 15px;
                        transition: .3s;
                    }
                }

                a {
                    cursor: pointer;
                    text-decoration: none;
                    display: inline-block;
                    text-align: center;
                    white-space: nowrap;
                    position: relative;
                    background-color: $orangeColor;
                    line-height: 24px;
                    border: none;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 600;
                    padding: 12px 30px;
                    transition: 0.3s;
                    text-transform: uppercase;
                    z-index: 1;
                    margin-bottom: 2px;

                    &:hover {
                        background-color: #b87210;
                    }
                }

            }

            .productCategori {
                list-style: none;
                margin-bottom: 20px;


                li {
                    display: flex;
                    align-items: center;
                    margin: 10px 0;


                    span {
                        font-weight: 600;
                        color: #fff;
                        width: 120px;
                    }

                    p {
                        display: inline-block;
                        color: #9F9E9E;
                        text-decoration: none;
                        transition: .3s;
                    }

                }
            }



        }
    }
}